<!DOCTYPE html>
<html>
<head>
	<title>Edit Venue</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="jumbotron text-center">
		<h2>Edit Show</h2>
	  </div>
	<div class="container" style="text-align:center;">
		<form method="POST" action="/editshow/{{show.id}}/">
			<div class="form-group">
                <label for="name">Name:</label>
				<input type="text" class="form-control" name="name" value="{{ show.name }}">
                <label for="start_time"><b>Start Time </b></label>
				<input type="datetime-local" class="form-control" name="start_time" value="{{show.start_time}}">
				<label for="end_time"><b>End Time </b></label>
				<input type="datetime-local" class="form-control" name="end_time" value="{{show.end_time}}">
				<label for="price"><b>Price </b></label>
				<input type="number" class="form-control" name="price" value="{{show.price}}">
			</div>
			<button type="submit" class="btn btn-primary">Edit</button>
		</form>
	</div>
</body>
</html>