<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <form>
        <label for="user_id">User ID:</label>
        <input type="text" id="user_id" name="user_id"><br><br>
        <input type="submit" value="Submit">
      </form> -->
      
      <table>
        <tr>
          <th>Booking ID</th>
          <th>User ID</th>
          
          <th>Event Name</th>
          <th>Event Date and time</th>
          <th>rate</th>
        </tr>
        {% for booking in bookings %}
        <tr>
            <td>{{booking.id}}</td>
            <td>{{booking.user_id}}</td>
            
            <td>{{shows[booking.id].name}}</td>
            <td>{{shows[booking.id].startTime}}</td>
            <td><a href="{{url_for('ratingshow',show_id=booking.show_id,user_id=user_id)}}">Rate</a></td>
          </tr>
        {% endfor %}
        </table>
        </body>
        </html>